@page "/"
@inject CategoriaBLL categoriabll
@inject VentaBLL ventabll
@inject ProductoBLL productosBLL

<PageTitle>Main</PageTitle>

<AuthorizeView Context="Context">
    <Authorized>
        <div class="card">
            <div class="card-header">
                <h1>Summary</h1>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">@productos!.Count()</h2>
                                <p class="card-text">Productos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">@categorias.Count()</h2>
                                <p class="card-text">Categorías</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">@ventas.Count()</h2>
                                <p class="card-text">Ventas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">@String.Format("{0:C}", ventas.Sum(v => v.Total))</h2>
                                <p class="card-text">Ganancia producida</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h1>Acceso no autorizado</h1>
                    <p>Para acceder a esta página, es necesario iniciar sesión con una cuenta autorizada.</p>
                    <a href="Identity/Account/Login"><button class="btn btn-primary">Iniciar sesión</button></a>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
    private List<Producto>? productos;
    private List<Categoria>? categorias;
    private List<Venta>? ventas;

    protected override void OnInitialized()
    {
        productos = productosBLL.GetList(o => true);
        categorias = categoriabll.GetList(o => true);
        ventas = ventabll.GetList(o => true);
    }
}
